{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/cccbr_white.png'></img>
            <p style="color:white; text-shadow: 2px 2px 3px rgba(0,0,0,0.6);">
                Welcome to the first Apache CloudStack™ Collab conference of 2019 on April 23rd-27th in Florianopolis, Brazil.
                <br /><br />
                The CloudStack Collaboration Conference is being run through 
                <a style="color:rgba(255,255,255,.6)" href="http://www.thedevelopersconference.com.br/en" target="_blank">The Developer Conference (TDC)</a> in Brazil.  
                When you <a style="color:rgba(255,255,255,.6)" href="#register">register</a> you will be redirected to the <strong>TDC</strong> website. The <a style="color:rgba(255,255,255,.6)" href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloud-stack-colab">CloudStack Collab track</a> will happen on April 27th.
            </p>
            <a href="#register" class="btn btn-default btn-xl">REGISTER</a>
        </div>
    </div>
</header>
