{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary"/>
            
           <p> 
            <strong>Florianópolis</strong> is the capital of Brazil’s Santa Catarina state. It's often called “the best place to live in Brazil”. Florianopolis is a thriving destination for its perfect beaches, excellent surfing, amazing seafood, and juxtaposition of a modern megacity with 16th-century colonial fortresses and relaxed markets and parks. For more information please visit <a href="http://turismo.sc.gov.br/en/destinos/grande-florianopolis/">Florianopolis </a>.
           </p>

           <p>
                <strong>Centro de Convenções CentroSul</strong><br>
                Av. Governador Gustavo Richard, 850 - 9CXX+64<br>
                Florianópolis, Santa Catarina, Brazil
            </p>
            <div class="row">
               <div class="col-xs-12 col-md-10 col-md-push-1">
                    <div style="position:relative; padding-bottom:66.67%; height:0;">
                        <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=Av.+Gov.+Gustavo+Richard,+850+-+Centro,+Florian%C3%B3polis+-+SC,+88010-290&amp;output=embed" width="100%" height="570" frameborder="0"></iframe>
                    </div>
                    <br><br>
                </div>
            </div>
            <h2 class="section-heading">Getting there and getting around</h2>
            <p> 
                <strong>Flights: </strong> Hercílio Luz International Airport (FLN) is Florianópolis's primary airport. You can find direct flights from major South American countries to FLN; on the other hand, if you are flying from North America, Europe, or other regions, you will normally have a connection in São Paulo (GRU airport) or Rio de Janeiro (GIG airport). It is a short flight from both GIG and GRU airports to FLN (about an hour). The airport is about 12 Kilometers from the convention center and hotels neighborhood. 
            </p>
            <p> 
                <strong>Travel from the airport: </strong> 
                <ul>
                    <li>Taxi: ~BRL 50</li>
                    <li>Bus: ~BRL 10</li>
                    <li>Uber ~BRL 30</li>
                </ul>
            </p>
            <p>
                <strong>Hotels neighborhood: </strong> There are plenty of choices across the island, but for convenience, we do recommend you to stay near the convention center. Therefore, the best neighborhood is the "Avenida Beiramar Norte". Besides the awesome bay view, you will haveplenty to do and experience (all a walk distance from your hotel). This neighborhood is about 4 kilometers from the convention center.
            </p>
            <div class="row">
               <div class="col-xs-12 col-md-10 col-md-push-1">
                    <div style="position:relative; padding-bottom:46.67%; height:0;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3536.6515407791294!2d-48.54121804976992!3d-27.573323027634217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x952738115a1dfb73%3A0xa3ae735f26b11cfd!2sAv.+Beira+Mar+Norte+-+Agron%C3%B4mica%2C+Florian%C3%B3polis+-+SC%2C+88010-400!5e0!3m2!1sen!2sbr!4v1552609326374" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br><br>
                </div>
            </div>
             <p>
                <strong>Getting around: </strong> There is plenty to eat, see, and do within walking distance of the hotel. For longer ventures: 
                <ul style="text-align: left; width: 60%; margin-left: 20%;">
                    <li>Buses: Google maps works nicely to show you the best routes using the bus. Do not forget though, buses will require you to use Brazilian reais. Therefore, if you intend to take the bus, you will need to use the local currency.</li>
                    <li>Uber: you can hail an uber anywhere to get you around if you prefer as well.</li>
                    <li>Local bike and scooters sharing companies. Around the city, you find the scooters from Grin, and bikes from Yellow; use them to enjoy the bay area, or to take a tour in downtown.</li>
                </ul>
            </p>
             <p>
                <strong>For doubts: </strong> You can contact Rafael (rafael@apache.org), if you need some assistence to select hotels, checking if you need visa, and so on. <br/>
                <strong>For emergencies: </strong> You can call +55 48 988151264 (Rafael's phone) if you run into trouble.<br/><br/>
                <strong>If you have read everything until here, and you want to try the best beers you will ever have: </strong> You should defintely contact Rafael.
            </p>
        </div>
    </div>
</aside>