{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Register</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
                <b style="font-size:120%;">Register early and save!</b><br />
                <br />
                Please note that the registration costs increase over time so the earlier you register the more you save.<br />
                <br />
                Registration costs can be found on the TDC registration page.<br />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="https://inscricoes.globalcode.com.br/novaInscricao/tdc-2019-florianopolis" class="btn btn-primary btn-xl wow tada" target="_blank">REGISTER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>