{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <!--<p class="text-faded">
                    The below times are in the EDT (GMT-4) timezone.<br />
                    The current EDT time is: <span id="current-time" style="color:white;"></span>
                </p>-->
                <div style="margin-left:10%;">
                    <div class="row">
                        <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px; text-align:left;">FRIDAY, April 26th</div> 
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">&nbsp;</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="text-align:center;"><b>CloudStack Collab Track</b></div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">08:00 - 09:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <center><b>Registration</b></center>
                        </div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 text-faded">&nbsp;</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 text-faded">&nbsp;</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">09:00 - 10:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            Opening of the conference at the main auditorium.
                        </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:10 - 11:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">  <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-111" target="_blank">CloudStack Keynote</a> - Mike Tutkowski</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:10 - 12:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-121" target="_blank">CloudStack in a few minutes</a> - Gabriel Beims Bräscher</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:10 - 13:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-131" target="_blank">Hyperconvergence for all</a> - Marcos Sungalia</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">13:10 - 14:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">-- Lunch --</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:10 - 14:30</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-141" target="_blank">Two main reasons why you need a backup for your cloud data</a> - Bruna Grellt</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:30 - 14:50</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-142" target="_blank">It is not virtualization, it's Cloud! Cloud Hybrid best practices from the perspective of Infra and Platform as a Service</a> - Alberto Cardoso </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">14:50- 15:10</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-143" target="_blank">Troubleshooting CloudStack XenServer</a> - Marco Sinhoreli</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">15:10 - 16:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                            <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-151" target="_blank">Migration of Worklouds between Public Clouds</a> - Felipe Rossi</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">16:00 - 16:30</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                           -- Coffe-break and networking --</div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">16:40 - 17:05</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                           <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-161" target="_blank">How much does my Cloud cost?</a> - Cristian Gonzalez </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">17:05 - 17:30</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                           <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-162" target="_blank">Billing with Cloudstack</a> - Alexander Stock </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">17:30 - 18:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                           <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-162" target="_blank">Benefits and problems with federated authentication in Apache Cloudstack</a> - Ricardo Makino </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">18:00 - 18:30</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                           <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloudstack#descricao-162" target="_blank">Mastering CloudStack monitoring, debugging, logs and metric collections</a> - Gabriel Beims Bräscher </div>
                    </div><div class="row">
                        <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">18:40 - 19:00</div>
                        <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">
                          Closing of the day at the main stage</div>
                    </div>
                </div>
        </div>
    </div>
</section>
<style>
    #schedule .text-faded {
        text-align:left;
    }
</style>

<!--<script type="text/javascript">
    setInterval(function() { 
        offset = -4.0 //EDT
        client_date = new Date();
        utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
        server_date = new Date(utc + (3600000*offset));
        $('#current-time').html(server_date.toLocaleString());
    }, 1000);
</script>-->
