{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                The schedule will be posted <b style="text-decoration:underline">Monday, February 18th</b>, so please <a href="http://www.thedevelopersconference.com.br/tdc/2019/florianopolis/trilha-cloud-stack-colab"></a>check the TDC website for the schedule</a>...<br />
                <br />
                Call for papers is open until <b style="text-decoration:underline">Sunday, February 3rd</b>, so consider submitting a talk.<br />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="http://cfp-flp.thedevconf.com.br/" class="btn btn-default btn-xl wow tada" target="_blank">SUBMIT A TALK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
