{{ "<!-- SPONSORS -->" | safeHTML }}
<section class="bg-secondary"  id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2">
                <p>The CloudStack Collaboration Conference is being run through The Developer Conference (Brazil).  All sponsorship will be done through the TDC, so please inquire with them directly. For more details regarding the past events, you can access the <a href="https://www.dropbox.com/sh/53ujp2usf402dlj/AAA1a2jZPddGcAT8ZosRiGCAa?dl=0">TDC 2018 event report.</a></p> 

                <p>Please be sure to reference <code>Apache CloudStack</code> when sponsoring the event so your contribution can be attributed and given proper visibility in the CloudStack Collaboration Conference.</p>
            </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:yara@globalcode.com.br?&cc=ana.zara@globalcode.com.br&subject=Sponsor Apache CloudStack in Brazil (The Developer Conference)" class="btn btn-primary btn-xl wow tada" target="_blank">BECOME A SPONSOR</a>
        </div>
    </div>
</section>
